doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        include ./modules/header.pug
        .content
            h1.content__section-name История Фирмы
            .content__text-about
                .content__top-text
                    img(src="./img/img_first-banner (1024px).png", alt="").top-text__img-top
                    p История создания и развития фирмы “Морской Бриз” начинается в 1985 году, когда два молодых предпринимателя, Андрей и Владимир, решили открыть небольшой магазин по продаже морепродуктов. Их идея была проста: предложить покупателям качественные и свежие морепродукты по низким ценам. Андрей и Владимир были родом из приморского города, где с детства знали о
                    img(src="./img/img_first-banner (1920px).png", alt="").top-text__img-bottom
                    p пользе морепродуктов и их благотворном влиянии на здоровье. Они решили сделать ставку на эту продукцию, так как она была в то время не слишком популярна среди населения, что позволяло рассчитывать на успешное развитие бизнеса.
                .content__middle-text
                    .middle-text__img
                        img(src="./img/img_second-banner (1920px).png", alt="")
                    p Первый магазин “Морской Бриз” располагался на окраине города, в небольшом помещении. Однако благодаря качественной продукции и грамотной рекламе, фирма быстро завоевала популярность у местных жителей.
                p В 2000 году, после успешного развития сети магазинов “Морской Бриз”, предприниматели решили создать собственную производственную базу для выращивания и переработки морепродуктов. Так появилась первая ферма по выращиванию устриц и мидий, а также цех по переработке рыбы. С тех пор фирма “Морской Бриз” постоянно развивается и растет. Сегодня это крупная сеть магазинов, производственных площадок и ресторанов, предлагающих широкий ассортимент морепродуктов и морских деликатесов. Особое внимание уделяется качеству продукции. “Морской Бриз” сотрудничает только с проверенными поставщиками и производителями, а также осуществляет строгий контроль качества на всех этапах производства. Кроме того, компания активно участвует в социальных проектах, направленных на популяризацию здорового питания и заботу об окружающей среде. Например, на территории производственной базы проводятся экскурсии для школьников и студентов, где они могут познакомиться с процессом выращивания и переработки морепродуктов, а также узнать о пользе морепродуктов для здоровья. Таким образом, история создания и развития компании “Морской Бриз” является примером успешного бизнеса, основанного на любви к своему делу, стремлении к качеству и заботе о потребителе.
                .content__bottom-img
                    img(src="./img/img_third-banner.png", alt="")
        
        include ./modules/footer.pug
